<!DOCTYPE html>
<html style="-webkit-text-size-adjust: 100%; line-height: 1.60">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

<script nonce="" type="text/javascript">
window.__nonce_str = ""
if (location.href.indexOf("safe=0") == -1 && window.__nonce_str) {
	window.__moonsafe_csp_offset || (window.__moonsafe_csp_offset = 18);
	document.write('<meta http-equiv="Content-Security-Policy" content="script-src https: \'unsafe-inline\' \'unsafe-eval\' *.qq.com *.weishi.com'+(window.__nonce_str ? ' \'nonce-' + window.__nonce_str + "\'":"")+ '">');
        
}
</script>

        <script nonce="" type="text/javascript">
            window.logs = {
                pagetime: {}
            };
            window.logs.pagetime['html_begin'] = (+new Date());
        </script>
        
        <link rel="dns-prefetch" href="//res.wx.qq.com">
<link rel="dns-prefetch" href="//mmbiz.qpic.cn">
<link rel="shortcut icon" type="image/x-icon" href="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/images/icon/common/favicon22c41b.ico">
<script nonce="" type="text/javascript">
    String.prototype.html = function(encode) {
        var replace =["&#39;", "'", "&quot;", '"', "&nbsp;", " ", "&gt;", ">", "&lt;", "<", "&amp;", "&", "&yen;", "¥"];
        if (encode) {
            replace.reverse();
        }
        for (var i=0,str=this;i< replace.length;i+= 2) {
             str=str.replace(new RegExp(replace[i],'g'),replace[i+1]);
        }
        return str;
    };

    window.isInWeixinApp = function() {
        return /MicroMessenger/.test(navigator.userAgent);
    };

    window.getQueryFromURL = function(url) {
        url = url || 'http://qq.com/s?a=b#rd'; 
        var query = url.split('?')[1].split('#')[0].split('&'),
            params = {};
        for (var i=0; i<query.length; i++) {
            var arg = query[i].split('=');
            params[arg[0]] = arg[1];
        }
        if (params['pass_ticket']) {
        	params['pass_ticket'] = encodeURIComponent(params['pass_ticket'].html(false).html(false).replace(/\s/g,"+"));
        }
        return params;
    };

    (function() {
	    var params = getQueryFromURL(location.href);
        window.uin = params['uin'] || '';
        window.key = params['key'] || '';
        window.wxtoken = params['wxtoken'] || '';
        window.pass_ticket = params['pass_ticket'] || '';
    })();

</script>

        <title>
活动</title>
        
<link rel="stylesheet" href="https://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/homepage/index23b0e8.css">

    </head>
    <body id="" class="zh_CN " ontouchstart="">
        
<script>

var benchmark = {
	mark: function(key) {
		benchmark[key] = (+new Date());
	},
	pageBegin: 0,
	pageEnd: 0,
	cssEnd: 0,
	jsEnd: 0,
	moonJsEnd: 0,
	soonJsEnd: 0
};
benchmark.mark('pageBegin');
</script>
<div class="container">
    <div id="js_plugins_loading" class="loading">
    	加载中    </div>
    <div id="js_plugins" style="visibility:hidden;">
	    <div class="slider js_plugin" id="namespace_0" data-pid="1">
    <div class="swiper" style="height: 180px;">
		
		<div class="item js_post">
			<a href="http://mp.weixin.qq.com/s?__biz=MzA3MzUxNzcyOQ==&amp;mid=508541821&amp;idx=1&amp;sn=779b986b14f590abf8e94f699e4b6b3c&amp;scene=19#wechat_redirect">
				<div class="img js_img" style="background-image: url('http://mmbiz.qpic.cn/mmbiz_jpg/ibV1WeaY2IEsqaZnfzG6J60v9JwMGHaAcmdTXGLvWwsYp8UVPvfp5FlhwCq3r4AFQ6OlKD89StXnEQWPKhqgyVQ/0?wx_fmt=jpeg');"></div>
				<p class="desc js_title">9月3/5号主题活动</p>
			</a>
		</div>
		
		<div class="item js_post">
			<a href="http://mp.weixin.qq.com/s?__biz=MzA3MzUxNzcyOQ==&amp;mid=508541740&amp;idx=1&amp;sn=f611745ef2f3cf09f5d6611d03ef3868&amp;scene=19#wechat_redirect">
				<div class="img js_img" style="background-image: url('http://mmbiz.qpic.cn/mmbiz_jpg/ibV1WeaY2IEuaMT7EE1Z65Wnsgy0hkiboibLwE34jXFMaAcHwfwt2w5oFK9znAiaqqiav9PH1EbaYZNRymcia9e3XZBA/0?wx_fmt=jpeg');"></div>
				<p class="desc js_title">8月27/29号主题活动</p>
			</a>
		</div>
		
		<div class="item js_post">
			<a href="http://mp.weixin.qq.com/s?__biz=MzA3MzUxNzcyOQ==&amp;mid=508541619&amp;idx=1&amp;sn=e2280835b4525578087db49d9e617d9a&amp;scene=19#wechat_redirect">
				<div class="img js_img" style="background-image: url('http://mmbiz.qpic.cn/mmbiz_jpg/ibV1WeaY2IEvm18yHzFyBRwHJv0WthSX8tERgQJqFkG6r2FEObcFoA2J9svbP6ic9zGrn8iaQDSjVJgBLKicIo62JA/0?wx_fmt=jpeg');"></div>
				<p class="desc js_title">8月20/22号主题活动</p>
			</a>
		</div>
		
	</div>
	<div class="indicator">
		
		<a href="javascript:;"><i class="icon_dot active"></i></a>
		
		<a href="javascript:;"><i class="icon_dot "></i></a>
		
		<a href="javascript:;"><i class="icon_dot "></i></a>
		
	</div>
</div>
<div class="tab js_plugin" id="namespace_1" data-pid="2">
	<div class="tab_hd">
		<div class="tab_hd_inner">
			
			<div type="index" data-index="0" class="item active">往期活动</div>
			
		</div>
	</div>
	<div class="tab_bd">
		
		<div class="article_list article_list_0" >
			
			<a class="list_item js_post" href="http://mp.weixin.qq.com/s?__biz=MzA3MzUxNzcyOQ==&amp;mid=508541821&amp;idx=1&amp;sn=779b986b14f590abf8e94f699e4b6b3c&amp;scene=19#wechat_redirect">
				<div class="cover">
					<img class="img js_img" src="http://mmbiz.qpic.cn/mmbiz_jpg/ibV1WeaY2IEsqaZnfzG6J60v9JwMGHaAcmdTXGLvWwsYp8UVPvfp5FlhwCq3r4AFQ6OlKD89StXnEQWPKhqgyVQ/0?wx_fmt=jpeg" alt=""/>
				</div>
				<div class="cont">
					<h2 class="title js_title">9月3/5号主题活动</h2>
					<p class="desc">本周活动主题［芳华］</p>
				</div>
			</a>
			
			<a class="list_item js_post" href="http://mp.weixin.qq.com/s?__biz=MzA3MzUxNzcyOQ==&amp;mid=508541740&amp;idx=1&amp;sn=f611745ef2f3cf09f5d6611d03ef3868&amp;scene=19#wechat_redirect">
				<div class="cover">
					<img class="img js_img" src="http://mmbiz.qpic.cn/mmbiz_jpg/ibV1WeaY2IEuaMT7EE1Z65Wnsgy0hkiboibLwE34jXFMaAcHwfwt2w5oFK9znAiaqqiav9PH1EbaYZNRymcia9e3XZBA/0?wx_fmt=jpeg" alt=""/>
				</div>
				<div class="cont">
					<h2 class="title js_title">8月27/29号主题活动</h2>
					<p class="desc">本周活动主题［绮梦］</p>
				</div>
			</a>
			
			<a class="list_item js_post" href="http://mp.weixin.qq.com/s?__biz=MzA3MzUxNzcyOQ==&amp;mid=508541619&amp;idx=1&amp;sn=e2280835b4525578087db49d9e617d9a&amp;scene=19#wechat_redirect">
				<div class="cover">
					<img class="img js_img" src="http://mmbiz.qpic.cn/mmbiz_jpg/ibV1WeaY2IEvm18yHzFyBRwHJv0WthSX8tERgQJqFkG6r2FEObcFoA2J9svbP6ic9zGrn8iaQDSjVJgBLKicIo62JA/0?wx_fmt=jpeg" alt=""/>
				</div>
				<div class="cont">
					<h2 class="title js_title">8月20/22号主题活动</h2>
					<p class="desc">本周活动主题 ［ 清雅 ］</p>
				</div>
			</a>
			
			<a class="list_item js_post" href="http://mp.weixin.qq.com/s?__biz=MzA3MzUxNzcyOQ==&amp;mid=508541610&amp;idx=1&amp;sn=497e35983aaa2457d26c741ea07b9362&amp;scene=19#wechat_redirect">
				<div class="cover">
					<img class="img js_img" src="http://mmbiz.qpic.cn/mmbiz_jpg/ibV1WeaY2IEvuEbU0xhst5E9PC8ThFAMiclntBmcvIcmrD59TL8xgliaVpVVRXUNWEbtTptr9jWUia4TfxGURpWdSA/0?wx_fmt=jpeg" alt=""/>
				</div>
				<div class="cont">
					<h2 class="title js_title">8月13/15号主题活动</h2>
					<p class="desc">［特别说明］收到鲜花后请第一时间按照45°斜剪花根2cm以上并放入花瓶。放置在空调间的花儿们请注意远离空调的</p>
				</div>
			</a>
			
			<a class="list_item js_post" href="http://mp.weixin.qq.com/s?__biz=MzA3MzUxNzcyOQ==&amp;mid=508541551&amp;idx=1&amp;sn=14f5d3f7005546b22ceb0666a2045a88&amp;scene=19#wechat_redirect">
				<div class="cover">
					<img class="img js_img" src="http://mmbiz.qpic.cn/mmbiz_jpg/ibV1WeaY2IEvuEbU0xhst5E9PC8ThFAMicU8mdtS9mQPh9ib4QdCUQwicJzPBKia1dt3TK2fkVY8fvjvLHKu7ic7796g/0?wx_fmt=jpeg" alt=""/>
				</div>
				<div class="cont">
					<h2 class="title js_title">8月6/8号主题活动</h2>
					<p class="desc">［特别说明］收到鲜花后请第一时间按照45°斜剪花根2cm以上并放入花瓶。放置在空调间的花儿们请注意远离空调的</p>
				</div>
			</a>
			
		</div>
		
	</div>
</div>

    </div>
</div>

        
        <script nonce="">
    var __DEBUGINFO = {
        debug_js : "https://res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/biz_wap/debug/console2ca724.js",
        safe_js : "https://res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/biz_wap/safe/moonsafe2f3e84.js",
        res_list: []
    };
</script>

<script nonce="">
(function() {
	function _addVConsole(uri) {
		var url = '//res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/vconsole/' + uri;
		document.write('<script nonce="" type="text/javascript" src="' + url + '"><\/script>');
	}
	if (
		(document.cookie && document.cookie.indexOf('vconsole_open=1') > -1)
		|| location.href.indexOf('vconsole=1') > -1
	) {
		_addVConsole('2.4.0/vconsole.min.js');
		_addVConsole('plugin/vconsole-sources/1.0.1/vconsole-sources.min.js');
		_addVConsole('plugin/vconsole-resources/1.0.0/vconsole-resources.min.js');
		_addVConsole('plugin/vconsole-mpopt/1.0.0/vconsole-mpopt.js');
	}
})();
</script>
        
        <script>window.moon_map = {"biz_common/utils/report.js":"https://res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/biz_common/utils/report275627.js","homepage/report.js":"https://res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/homepage/report243273.js","biz_wap/zepto/event.js":"https://res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/biz_wap/zepto/event275627.js","biz_wap/zepto/ajax.js":"https://res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/biz_wap/zepto/ajax275627.js","biz_wap/zepto/zepto.js":"https://res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/biz_wap/zepto/zepto275627.js","homepage/index.js":"https://res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/homepage/index2e7b74.js"};</script>
<script>
var cgiData = {
	biz: 'MzA3MzUxNzcyOQ==',
	hid: '4',
	pagename: '活动',
	comboList: {
		'js': '/hp/hp_1_7.js,/hp/hp_2_9.js',
		'css.js': '/hp/hp_1_7.css.js,/hp/hp_2_9.css.js'
	},
	biz_info: {
		nickname: "FlowerPlus"
	}
};
</script>
<script>
var soonBaseURL = location.protocol + '//' + window.location.host,
	soonMap = {
		'js': [],
		'css.js': []
	};




for (var k in cgiData.comboList) {
	soonMap[k] = cgiData.comboList[k].split(',');
}


function soonDefineCallback(fileType) {
	if (fileType == 'css.js') {
		if (seajs.requiredNum['css.js'] >= Object.keys(soon.map['css.js']).length) {
			benchmark.mark('cssEnd');
		}
	} else if (fileType == 'js' || fileType == 'moon.js') {
		if (fileType == 'js' && seajs.requiredNum['js'] >= Object.keys(soon.map['js']).length) {
			benchmark.mark('soonJsEnd');
		}
		if (fileType == 'moon.js' && seajs.requiredNum['moon.js'] >= Object.keys(soon.map['moon.js']).length) {
			benchmark.mark('moonJsEnd');
		}
		if (seajs.requiredNum['js']+seajs.requiredNum['moon.js'] >= Object.keys(soon.map['js']).length+Object.keys(soon.map['moon.js']).length) {
			benchmark.mark('jsEnd');
		}
	}
	if (seajs.requiredNum['css.js'] >= Object.keys(soon.map['css.js']).length && seajs.requiredNum['js'] >= Object.keys(soon.map['js']).length && seajs.requiredNum['moon.js'] >= Object.keys(soon.map['moon.js']).length) {
		
		
		document.getElementById('js_plugins_loading').style.display = "none";
		document.getElementById('js_plugins').style.visibility = "visible";
	}
}

benchmark.mark('soonJsBegin');
</script>

<script type="text/javascript" src="https://res.wx.qq.com/mmbizwap/zh_CN/htmledition/js/homepage/soon243273.js"></script>
<script>
seajs.use('homepage/index.js');
benchmark.mark('pageEnd');
</script>

    </body>
</html>
