<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="复旦" >
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <script type='text/javascript'>window.BWEUM||(BWEUM={});BWEUM.info = {"stand":true,"agentType":"browser","agent":"bi-collector.oneapm.com/static/js/bw-send-411.4.5.js","beaconUrl":"bi-collector.oneapm.com/beacon","licenseKey":"Bjb~YrERBrNnQIaB","applicationID":2286362};</script><script type="text/javascript" src="//bi-collector.oneapm.com/static/js/bw-loader-411.4.5.js"></script>

    <link rel="stylesheet" href="http://static2.flowerplus.cn/Static/css/m.css?_t=13">
    <link rel="stylesheet" href="http://static2.flowerplus.cn/Static/css/m_web.css?_t=167">
    <script src="http://static2.flowerplus.cn/Static/js/jquery.js?_t=3"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  </head>
  <body>
  <div class="page">
  <div class="top-pic">
	<div class="top-avatar" style="background: #fff url('http://wx.qlogo.cn/mmopen/3B3mXY3RuL7erbNEZad1dh3ENlv75Sam43qDVLlKtyiaDWGrTsSuqnfuyqAxuwHWCeB7XXkQM2R59lc51LZqIrZ3zeUXBpaqX/0') no-repeat center;background-size: cover"></div>
</div>
<div class="top-uinfo">
<div class="uname">wills</div>
<div class="orders-status">
	<a class="daifukuan" href="/my/orders/?status=1"><strong>我的资料</strong></a>
	<a class="fuwuzhong" href="/my/orders/?status=2"><strong>我的优惠</strong></a>
</div>
</div>
</div>

<div style="text-align: center;padding:20px"><a href="/"><img src="/static/logo.jpeg" style="height:60px;width:65px"></a></div>
<script>
if(top.location!=self.location)
{
    top.location=self.location;
}
</script>
  </body>
</html>