<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="复旦" >
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <script type='text/javascript'>window.BWEUM||(BWEUM={});BWEUM.info = {"stand":true,"agentType":"browser","agent":"bi-collector.oneapm.com/static/js/bw-send-411.4.5.js","beaconUrl":"bi-collector.oneapm.com/beacon","licenseKey":"Bjb~YrERBrNnQIaB","applicationID":2286362};</script><script type="text/javascript" src="//bi-collector.oneapm.com/static/js/bw-loader-411.4.5.js"></script>

    <link rel="stylesheet" href="http://static2.flowerplus.cn/Static/css/m.css?_t=13">
    <link rel="stylesheet" href="http://static2.flowerplus.cn/Static/css/m_web.css?_t=167">
    <script src="http://static2.flowerplus.cn/Static/js/jquery.js?_t=3"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  </head>
  <body>
  <div class="page">
<div class="top-uinfo">
<h2 class="uname">充值成功 {{payment_item.name.decode('utf8')}}</h2>
      <div class="uname">余额 +{{payment_item.money/100.0}}</div>
    <div class="uname">返现 +{{payment_item.charge/100.0}}</div>
</div>


</div>

<div style="text-align: center;padding:20px"><a href="/"><img src="/static/logo.jpeg" style="height:60px;width:65px"></a></div>
<script>
if(top.location!=self.location)
{
    top.location=self.location;
}
</script>
  </body>
</html>