* {
	margin: 0;
	padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-weight: normal;
    outline: 0;
	color: #333;
	text-decoration: none;
}
::-webkit-input-placeholder{
	color: #8e8e8e;
}
section {
    padding: 0.3rem 0.3rem 0;
    max-width: 7.5rem;
    margin: 0 auto;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.name {
    text-align: center;
    font-size: 0.28rem;
    line-height: 0.75rem;
}

input {
    padding: 0.25rem 0;
    font-size: 0.28rem;
    border: none;
}
textarea {
    padding: 0.25rem 0;
    font-size: 0.28rem;
    border: none;
}
div {
    overflow: hidden;
    padding: 0 0.2rem;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #d7d7d7;
}
button {
    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
    border-radius: 2px;
    display: block;
    text-align: center;
    background: #ff6686;
    color: #FFFFFF;
    border: none;
    font-size: 0.28rem;
}
p {
    font-size:0.28rem;
    padding: 0.15rem 0;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) url('../img/icon/loading.gif') 50% 50% no-repeat;
    background-size: 10%;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    display: flex;
    border-top: 1px solid #eee;
    box-sizing: border-box;
}
footer a {
    flex: 1;
    text-align: center;
    font-size: 0.24rem;
    line-height: 0.75rem;
}