* {
	margin: 0;
	padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-weight: normal;
    outline: 0;
	color: #333;
    text-decoration: none;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
.main {
    max-width: 7.5rem;
    margin: 0 auto;
    padding-bottom: 0.75rem;
}
section {
    background: url("../img/userbg.jpg") no-repeat;
    background-size: contain;
    text-align: center;
    padding-top: 2.4rem;
}
section img {
    width: 1.35rem;
    border-radius: 999px;
    border: 5px solid #FFFFFF;
}
.nickname {
    font-size: 0.28rem;
    margin: 0.25rem 0 0.5rem;
}
.money > div {
    display: inline-block;
    vertical-align: top;
    font-size: 0.28rem;
    margin: 0 0.25rem;
}
.money span {
    display: block;
    margin-top: 5px;
}
.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    z-index: 999;
    text-align: center;
}
.loading:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    overflow: hidden;
}
.loading:after {
    content: '';
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background: url("../img/loading.png") no-repeat;
    background-size: contain;
    vertical-align: middle;
    animation: 1s linear loading infinite;
}
.hide {
    display: none;
}
@keyframes loading {
    0% {
        transform: rotate3d(0, 0, 1, 0);
    }
    25% {
        transform: rotate3d(0, 0, 1, 90deg);
    }
    50% {
        transform: rotate3d(0, 0, 1, 180deg);
    }
    75% {
        transform: rotate3d(0, 0, 1, 270deg);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}
